In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('testapp.csv')

In [9]:
df.set_index('date')

            Unnamed: 0  Age_at_win  Prize_USD
date
2010-02-28           0        23.0        136
2010-03-14           1        23.0        137
2011-01-23          10        24.0        267
2011-07-10         100        20.0      25000
2013-11-23        1000        17.0       2093
2016-01-10       10000         NaN        244
2015-04-05       10001         NaN        182
2016-03-26       10002         NaN         58
2012-07-15       10003         NaN        150
2015-05-03       10004         NaN         76
2016-04-03       10005         NaN         15
2012-05-06       10006         NaN        240
2011-04-15       10007         NaN         20
2011-08-16       10008         NaN         20
2012-07-22       10009         NaN        200
2014-05-14        1001        17.0        750
2012-06-03       10010         NaN         40
2013-03-29       10011         NaN        200
2013-07-28       10012         NaN        155
2014-02-17       10013         NaN         83
2011-05-27       10014         NaN         35
2011-05-29       10015         NaN        200
2011-09-17       10016        18.0        100
2011-10-09       10017        18.0        133
2012-02-23       10018         NaN        133
2012-02-24       10019         NaN        100
2014-05-26        1002        17.0        500
2012-07-21       10020        24.0        200
2013-06-29       10021        25.0         31
2014-08-31       10022         NaN         23
...                ...         ...        ...
2012-07-29        9972         NaN        200
2013-06-29        9973         NaN         50
2012-07-08        9974         NaN        250
2012-07-22        9975         NaN        250
2012-07-28        9976         NaN        250
2011-09-22        9977         NaN        250
2013-10-11        9978         NaN        250
2015-06-28        9979         NaN        250
2013-08-10         998        16.0       1500
2015-06-28        9980         NaN        250
2015-06-28        9981         NaN        250
2011-08-31        9982         NaN        250
2014-03-10        9983         NaN        100
2014-04-21        9984         NaN         71
2014-09-28        9985         NaN         64
2015-11-14        9986         NaN         13
2014-08-23        9987         NaN        248
2011-04-24        9988         NaN         68
2011-05-05        9989         NaN        178
2013-10-19         999        17.0        565
2010-09-21        9990         NaN         20
2010-10-27        9991         NaN         20
2010-12-06        9992         NaN         66
2011-03-27        9993         NaN        140
2015-07-12        9994         NaN        108
2015-08-24        9995         NaN         83
2015-08-30        9996         NaN         55
2010-10-02        9997         NaN         25
2010-10-17        9998         NaN        200
2011-02-16        9999         NaN         20

[19969 rows x 3 columns]

,Finals,PlayerId,PriorWins,SecondWins,TTtoDate,TournLength,date
0,0,1058,0,0,0,6,2010-02-28
1,1,1058,1,0,1,6,2010-03-14
10,9,1058,8,1,10,3,2011-01-23
100,9,1000,6,3,15,3,2011-07-10
1000,0,6406,0,0,0,3,2013-08-18
10000,21,1062,13,8,33,9,2013-01-04
10001,22,1062,13,9,34,6,2013-02-27
10002,22,1062,13,9,35,2,2013-03-29
10003,22,1062,13,9,36,6,2013-06-02
10004,23,1062,13,10,37,5,2013-06-09
10005,23,1062,13,10,38,6,2013-07-28
10006,24,1062,14,10,39,6,2013-08-11
10007,24,1062,14,10,40,6,2013-09-05
10008,24,1062,14,10,41,1,2013-09-14
10009,25,1062,14,11,42,7,2013-10-13
1001,0,6407,0,0,0,3,2013-08-18
10010,25,1062,14,11,43,6,2013-10-20
10011,25,1062,14,11,44,6,2013-11-03
10012,25,1062,14,11,45,4,2014-03-09
10013,26,1062,14,12,46,7,2014-04-13
10014,26,1062,14,12,47,4,2014-04-26
10015,26,1062,14,12,48,5,2014-05-03
10016,27,1062,14,13,49,7,2014-07-06
10017,27,1062,14,13,50,3,2014-08-16
10018,27,1062,14,13,51,6,2014-08-24
10019,27,1062,14,13,52,3,2014-09-06
1002,0,6408,0,0,0,3,2013-08-18
10020,28,1062,14,14,53,3,2014-09-23
10021,29,1062,15,14,54,7,2014-10-12
10022,29,1062,15,14,55,3,2014-11-17
...,...,...,...,...,...,...,...
9972,0,1062,0,0,5,5,2011-12-07
9973,0,1062,0,0,6,7,2011-12-07
9974,1,1062,0,1,7,9,2012-02-16
9975,2,1062,0,2,8,6,2012-03-03
9976,3,1062,1,2,9,6,2012-03-31
9977,4,1062,2,2,10,4,2012-04-07
9978,4,1062,2,2,11,3,2012-04-18
9979,5,1062,3,2,12,6,2012-05-12
998,0,6404,0,0,0,3,2013-08-18
9980,6,1062,4,2,13,6,2012-05-17
9981,6,1062,4,2,14,3,2012-05-30
9982,7,1062,4,3,15,6,2012-06-10
9983,8,1062,5,3,16,6,2012-06-17
9984,9,1062,6,3,17,3,2012-06-20
9985,10,1062,6,4,18,3,2012-06-27
9986,11,1062,6,5,19,4,2012-07-02
9987,12,1062,7,5,20,3,2012-07-04
9988,13,1062,8,5,21,3,2012-07-11
9989,14,1062,8,6,22,5,2012-07-13
999,0,6405,0,0,0,3,2013-08-18
9990,15,1062,9,6,23,6,2012-07-14
9991,16,1062,10,6,24,9,2012-07-24
9992,17,1062,10,7,25,4,2012-07-28
9993,17,1062,10,7,26,3,2012-08-05
9994,18,1062,11,7,27,6,2012-08-26
9995,18,1062,11,7,28,6,2012-09-02
9996,19,1062,12,7,29,6,2012-10-06
9997,20,1062,13,7,30,9,2012-10-23
9998,21,1062,13,8,31,6,2012-11-25
9999,21,1062,13,8,32,4,2012-12-08

In [6]:
df.to_json('extra_features.json')